.dash-main {
  display: flex;
  padding-bottom: 100px;
}
.all_list {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.all_list,
.all_list a {
  color: #ffffff;
}
.all_list h1 {
  font-size: 36px;
  padding: 10px;
}
.all_list .circle {
  padding-right: 10px;
}
.all_list .arrow {
  position: absolute;
  right: 0px;
  text-decoration: none;
}
.todo_items,
.pg_items,
.done_items {
  position: relative;
  width: 500px;
  text-decoration: none;
  font-size: 32px;
  padding: 10px;
  border-bottom: #585858 1px solid;
}

/* start of edit(form) */

.ok {
  font-size: 26px;
  font-family: Segoe UI;
  font-weight: bold;
  background: #62c2a5;
  color: #ffffff;
  cursor: pointer;
}
